<h1>Nova Loja</h1>
<br>

<p><%= notice %></p>
<p><%= alert %></p>
<br>


<%= form_for @store, url: :stores, method: :post do |form| %>

  <% if @store.errors.any? && @store.errors[:address] %>
    <%= form.label "Endereço #{@store.errors[:address].first}" %>
  <% else %>
    <%= form.label "Endereço" %>
  <% end %>
  <%= form.text_field :address %>
  <br>

  <% if @store.errors.any? && @store.errors[:telefhone] %>
    <%= form.label "Telefone #{@store.errors[:telefhone].first}" %>
  <% else %>
    <%= form.label "Telefone" %>
  <% end %>
  <%= form.number_field :telefhone %>
  <br>

  <% if @store.errors.any? && @store.errors[:cnpj] %>
    <%= form.label "CNPJ #{@store.errors[:cnpj].first}" %>
  <% else %>
    <%= form.label "CNPJ" %>
  <% end %>
  <%= form.text_field :cnpj %>
  <br>

    <% if @store.errors.any? && @store.errors[:razao_social] %>
      <%= form.label "Razão Social #{@store.errors[:razao_social].first}" %>
    <% else %>
      <%= form.label "Razão Social" %>
    <% end %>
    <%= form.text_field :razao_social %>
    <br>

  <%= form.submit "Criar Loja" %>
  <% end %>
